<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<% if (typeof pageName === "undefined" || !pageName) {%>
		<title>Page name not set</title>
		<%} else { %>
		<title><%=pageName%></title>
		<%}%>
	</head>

	<body></body>
</html>
