<%- include('partials/header') %>

<section class="section">
  <div class="container">
    <h1 class="title">
      Hello World
    </h1>
    <p class="subtitle">
      This is a <strong>Beautiful</strong> website!
    </p>
    <a href="/register" class="button is-link is-rounded">Register</a>
    <a href="/login" class="button is-link is-outlined is-rounded">Login</a>
  </div>
</section>

<%- include('partials/footer') %>