<%- include('partials/header') %>


<section class="hero is-link is-fullheight">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-5-tablet is-4-desktop is-3-widescreen">
					<form action="/login" method="post" class="box">
						<h1 class="title has-text-dark">Register</h1>
						<div class="field">
							<label for="username" class="label">Username</label>
							<div class="control">
								<input class="input" type="text" name="username" placeholder="you@example.com" required>
							</div>
						</div>
						<div class="field">
							<label for="password" class="label">Password</label>
							<div class="control">
								<input class="input" type="password" name="password" placeholder="******" required>
							</div>
						</div>
						<button class="button is-info" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('partials/footer') %>