<%- include('partials/header') %>
<h1>You've reached the login page.</h1>
<form action="/login" method="post">
	<input type="text" name="username"">
	<input type="password" name="password" />
	<button type="submit">Submit</button>
</form>

<%- include('partials/footer') %>
