<%- include('partials/header') %>

<style>
	nav {
		box-shadow: 0px 0px 7px #0000001c;
	}
	.body-top-padding {
		margin-top: 1.5rem;
	}
</style>

<!--Navbar-->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<div class="navbar-item">
			<%=username%>
		</div>
		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a href="/logout" class="button is-danger">
						<strong>Logout</strong>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>

<!--Popup-->
<div class="modal is-active">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title" id="modal-title"></p>
			<button class="delete" aria-label="close"></button>
		</header>
		<section class="modal-card-body" id="modal-body">
			<progress class="progress is-small is-primary" max="100"></progress>
		</section>
		<footer class="modal-card-foot" id="modal-footer"></footer>
	</div>
</div>

<script>
	function sendRequest(method, route, request) {
		console.log('attempting post');

		return new Promise((resolve, reject) => {
			const Http = new XMLHttpRequest();
			Http.onload = e => {
				console.log('Response Recieved');
				let response = JSON.parse(Http.responseText);
				resolve(response);
			};
			Http.onerror = reject;
			Http.open(method, route);
			Http.setRequestHeader('Content-Type', 'application/json');
			let data = JSON.stringify(request);
			Http.send(data);
		});
	}

	//Modal Handlers
	const modalTitle = document.getElementById('modal-title');
	const modalBody = document.getElementById('modal-body');
	const modalFooter = document.getElementById('modal-footer');

	function modalError() {
		modalTitle.innerText = 'Error';
		modalBody.innerHTML = 'There was an issue communicating with the server. Please try again later.';
		modalFooter.innerHTML = '';
	}

	function updateModal(content) {
		modalTitle.innerText = content.title;

		//Set new modal content
		let body = '';
		let newElement;
		content.body.forEach(element => {
			switch (element.type) {
				case 'html':
					newElement = element.html;
					break;
				case 'input':
					switch (element.input.type) {
						case 'text':
							newElement = `<input class="input" type="text" placeholder="${element.input.defaultText}">`;
							break;
					}
					break;
			}
			body = body + newElement;
		});
		modalBody.innerHTML = body;

		//Set new modal footer
		let footer = '';
		content.buttons.forEach(button => {
			let newButton = `<button class="button ${button.class}">${button.text}</button>`;
			footer = footer + newButton;
		});
		modalFooter.innerHTML = footer;
	}
	function deleteProfile() {
		sendRequest('DELETE', '/profile')
			.then(result => {
				updateModal(result);
			})
			.catch(() => {
				modalError();
			});
	}

	deleteProfile();
</script>

<!--Content-->
<section class=" section body-top-padding">
	<div class="container is-widescreen">
		<div class="notification">
			<div class="columns">
				<div class="column is-one-third-tablet is-one-quarter-desktop">
					<figure class="image is-square">
						<img class="is-rounded" src="<%= profileImage %>" />
					</figure>
				</div>
				<div class="column">Other stuff</div>
			</div>
			<div class="is-divider" data-content="OR"></div>
			<div class="columns">
				<div class="column is-one-third-tablet is-one-quarter-desktop">
					<aside class="menu">
						<p class="menu-label">
							General
						</p>
						<ul class="menu-list">
							<li><a>Dashboard</a></li>
							<li><a>Analytics</a></li>
						</ul>
						<p class="menu-label">
							Settings
						</p>
						<ul class="menu-list">
							<li>
								<a class="is-active">Profile Page</a>
								<ul>
									<li><a>General</a></li>
									<li><a>Theme</a></li>
								</ul>
							</li>
							<li><a>Connected Accounts</a></li>
							<li><a>Account Settings</a></li>
						</ul>
					</aside>
				</div>
				<div class="column">
					<h1 class="title">General</h1>
					<h2 class="title is-5">Random Grouped Settings</h2>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore soluta doloremque alias beatae dolorem facere laborum voluptatem, officia eveniet assumenda quas repellat debitis ab reiciendis quasi adipisci itaque veritatis obcaecati? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, eaque iure. Quis iure voluptatem debitis dolorum consequuntur? Itaque fuga, consequatur libero inventore voluptatibus assumenda quam, suscipit sequi dolor optio ea.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quod. Totam, suscipit ducimus ut omnis consequatur nisi commodi fugit! Provident repellendus laboriosam, ad porro debitis quibusdam a autem delectus cum?</p>
					<h2 class="title is-5">More Random Settings</h2>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore soluta doloremque alias beatae dolorem facere laborum voluptatem, officia eveniet assumenda quas repellat debitis ab reiciendis quasi adipisci itaque veritatis obcaecati? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, eaque iure. Quis iure voluptatem debitis dolorum consequuntur? Itaque fuga, consequatur libero inventore voluptatibus assumenda quam, suscipit sequi dolor optio ea.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quod. Totam, suscipit ducimus ut omnis consequatur nisi commodi fugit! Provident repellendus laboriosam, ad porro debitis quibusdam a autem delectus cum?</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--Toggle Navbar-->
<script src="/src/js/navToggle.js"></script>

<%- include('partials/footer') %>
